*,
*::before,
*::after {
  box-sizing: border-box;  
}

.body {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

title {
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  margin: 0;
  text-align: center;
  color: #515076
}

.clear-list {
  list-style: none;
  padding: 0;
  margin: 0;
}





.card {
  background-color: #F7F7FA;
  padding: 25px;
  width: 100%;
}

.card--blue {
  background-color: blue;
}

.card__image {
  display: block;
}

.card__category {
  display:block;
  font-size: 13px;
  line-height: 18px;
  color: #A0A0B2;
  text-transform: uppercase;
}




.products {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
}

.products__item {
width: 340px;
}

.products__item--big {
  width: 600px;
}




.sidebar__product {
  width: 500px;
}


